body {
    background: #ddd;
}

.cut-corner, .circle-corner, .svg-corner {
    width: 200px;
    padding: 1em;
    margin: 1em;
    background: #58a;
}

.cut-corner {
    background: linear-gradient(135deg, transparent 10px, #58a 0) left top,
    linear-gradient(-135deg, transparent 10px, #58a 0) right top,
    linear-gradient(45deg, transparent 10px, #58a 0) left bottom,
    linear-gradient(-45deg, transparent 10px, #58a 0) right bottom;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.circle-corner {
    background: radial-gradient(circle at top left, transparent 15px, #58a 0) left top,
    radial-gradient(circle at top right, transparent 15px, #58a 0) right top,
    radial-gradient(circle at bottom left, transparent 15px, #58a 0) left bottom,
    radial-gradient(circle at bottom right, transparent 15px, #58a 0) right bottom;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.svg-corner {
    border: 15px solid #58a;
    border-image: 1 url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg"\
    width="3" height="3" fill="%2358a">\
    <polygon points="0,1 1,0 2,0 3,1 3,2 2,3 1,3 0,2"/>\
    </svg>');
    background: radial-gradient(#7ac, #58a 70%);
    background-clip: padding-box;
}